<main class="container" id="loginMid">
    <div class="row">
        <div class="loginWidth">

            <div class="wrapperLoginForm box">
                <form class="form-signin">
                    <div class="error-template">
                        <h1>
                            Oops!</h1>
                        <h2>
                            Page not found</h2>
                    </div>

                    <!-- <button class="btn btn-lg btn-primary login_Btn" type="button" (click)="onLogin()">Take Me Login</button> -->

                </form>
            </div>

        </div>
    </div>
</main>