
<main class="container" id="loginMid" style="margin-bottom: 200px;">
    <div class="row">
        <div class="loginWidth">

            <div class="wrapperLoginForm box">
                <form class="form-signin">
                    <div class="error-template">
                        <h1>
                            Oops!</h1>
                        <h2>
                            401 Unauthorized
                            <button class="btn btn-lg btn-save pull-right" type="button" (click)="takeMeLogin()">BACK TO LOGIN</button>
                        </h2>
                    </div>

                    

                </form>
            </div>

        </div>
    </div>
</main>