/* You can add global styles to this file, and also import other style files */

/*body{ margin:0; }*/

.bg-success{
    background-color: green;
    font-size: 12px;
    color: #fff !important;
}

.bg-error{
    background-color: #EF5350;
    font-size: 12px;
    color: #fff !important;
}

.ui-growl { 
    top: 5px !important; 
    z-index: 1030 !important;
}
.ui-growl .ui-growl-item-container .ui-growl-image { color: #fff !important; }

.ui-growl .ui-growl-item-container.ui-growl-message-success {
    background-color: #66BB6A !important;
    color: #fff !important;
}
.ui-growl .ui-growl-item-container.ui-growl-message-error {
    background-color: red !important;
    color: #fff !important;
}

.error{ color: #ed193a; font-size: 12px; }

.width15{ width: 15px; }
.width20{ width: 20px; }
.width30{ width: 30px; }
.width40{ width: 40px; }
.width50{ width: 50px; }
.width80{ width: 80px; }
.width100{ width: 100px; }
.width110{ width: 110px; }
.width120{ width: 120px; }
.width130{ width: 130px; }
.width150{ width: 150px; }
.width200{ width: 200px; }
.width250{ width: 250px; }

.height34{ height: 34px; }
.height36{ height: 36px; }
.height38{ height: 38px; }
.height40{ height: 40px; }
.height47{ height: 47px; }
.height50{ height: 50px; }


.switch-user label{ margin-left:4px; }

.no-record-found{
    height: 40px;
    background-color: #fff;
    padding-top: 10px;
    padding-left: 5px;
}